app/ads/
app/paid/
captures/
build/
pics/
.idea/
.gradle/
app/.externalNativeBuild
*.jks
.DS_Store
app/release
app/src/main/cpp/jpeg-9c
.externalNativeBuild/
.deps/
/cpp/stereoCameraImageProcessor/dist/
/ios/stereoCamera/stereoCamera.xcodeproj/xcuserdata/codymunger.xcuserdatad/
/ios/stereoCamera/stereoCamera.xcodeproj/project.xcworkspace/xcuserdata/
