body {
    padding: 20px;
}

body.ios {
    -webkit-text-size-adjust: none
}

.linkDiv {
    margin-bottom: 20px;
    font-size: 20pt;
}

.ios .linkDiv {
    font-size: 40pt;
}

.title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18pt;
}

.ios .title{
    font-size: 36pt;
}

.description {
    font-size: 14pt;
    margin-bottom: 30px;
}

.ios .description{
    font-size: 28pt;
}

.image {
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.image img {
    width: 280px;
}

.ios .image img {
    width: 700px;
}

.nav {
    margin-top: 20px;
    text-align: center;
    font-size: 18pt;
}

.ios .nav {
    font-size: 36pt;
}

.nav a {
    text-decoration: none;
}

.nav .nav-prev {
    display: inline;
    margin-right: 20px;
}

.nav .nav-home {
    display: inline;
    margin-right: 20px;
}

.nav .nav-next {
    display: inline;
}
